html {
}

body {
}

@font-face {
    font-family: 'Pero Bold';
    font-weight: normal;
    font-style: normal;
    src: url(pero.eot);
    src: 
    url(perob.eot) format('embedded-opentype'),
    url(perob.woff2) format('woff2'),
    url(perob.woff) format('woff'),
    url(perob.ttf) format('truetype');
}

@font-face {
    font-family: 'Pero Regular';
    font-weight: normal;
    font-style: normal;
    src: url(pero.eot);
    src: url(pero.eot) format('embedded-opentype'),
    url(pero.woff2) format('woff2'),
    url(pero.woff) format('woff'),
    url(pero.ttf) format('truetype');
}

#branding {
    text-align: center;
    line-height: 1em;
}

#content {
    position: relative;
}

#logo {
    font-family: 'Pero Bold';
    font-size: 7em;
    color: #000;
}

#sublogo {
    font-family: 'Pero Regular';
    font-size: 1.6em;
    display: block;
    color: #000;
    margin: 0.5em;
    line-height: 1em;
}

a:hover {
    -webkit-transition: all 0.2s ease-in-out;
}

a:link,
a:visited {
    color: #dd0b3d;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
    outline: none;
    color: #000;
}

#announcement {
    background: #dd0b3d;
    text-align: center;
    padding: 18px 0;
    font-size: 12px;
    color: #fff;
}

#announcement a.action {
    color: #fff;
    background: #cf0954;
    padding: 8px 18px;
    border: 1px solid #ae0b67;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -o-border-radius: 16px;
    -khtml-border-radius: 16px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2);
    text-shadow: -1px -1px 0 rgba(0,0,0,.25);
}

#announcement a.action:focus,
  #announcement a.action:hover {
    text-decoration: none;
    background: #c60673;
}

#announcement a:link,
  #announcement strong {
    font-weight: normal;
    padding: 8px 10px;
}

#branding a {
    display: block;
    margin: 5em auto 2.8em auto;
    text-decoration: none;
}

#branding img {
    display: block;
}

#intro {
    background: #f5f5f5;
    margin: 1.8em;
    padding: 1.5em 0;
    font-size: 1.14em;
    color: #555;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -khtml-border-radius: 8px;
    text-shadow: 1px 1px 0 rgba(255,255,255,1);
}

.gallery {
    width: 100%;
    text-align: center;
}

.thumb {
    width: 14em;
    height: 14em;
    background-size: cover;
}

.project strong{
    font-size: 1.3em;
}

.reports {
    background-image: url("clipboard.svg");
}

.webmobile {
    background-image: url("monitor.svg");
}

.research {
    background-image: url("lab.svg");    
}

.startup {
    background-image: url("leanrocket.svg");    
}

.gallery .project {
    margin: 0 1.2em;
    width: 17em;
    font-size: 0.8em;
    height: 25.5em;
    display: inline-block;
    vertical-align:top;
}

.gallery .project .thumb img {
    display: block;
}

.gallery .project p {
    margin: 1.1em 0 0 0;
    font-size: 1.1em;
    text-align: left;
    padding: 0.1em;
}

#project #cta {
    margin: 28px 0 84px 0;
}

.action a {
    padding: 10px 54px;
    background: #dd0b5f;
    border: 2px solid #dd0b5f;
    font-weight: bold;
    color: #fff;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -o-border-radius: 22px;
    -khtml-border-radius: 22px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.15);
}

.action a:link,
    .action a:focus,
    .action a:hover,
    .action button:focus,
    .action button:hover,
    .cta a:focus,
    .cta a:hover {
    text-decoration: none;
    background: #cf0954;
}

.project .header p em {
    background: #f5f5f5;
    font-style: normal;
    color: #999;
}

.project .header p a:focus,
    .project .header p a:hover {
    text-decoration: none;
    background: #000;
    color: #fff;
}

#rfq input[type="text"] {
    border: none;
    border-bottom: 1px dotted #ccc;
    width: 10.8em;
    line-height: 1;
}

#rfq input:focus,
    #rfq textarea:focus {
    outline: none;
    background: transparent;
    border-color: #343434;
}

#help h2 {
    font-size: 14px;
    margin: 1em 0 0 0;
}

html {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    line-height: 1.7;
    color: #343434;
    background-color: #fff;
}

html, body, form, fieldset {
    margin: 0;
    padding: 0;
}

html > body {
    font-size: 14px;
}

body {
    -webkit-text-stroke: 1px transparent;
}

@media only screen and (max-device-width: 480px) {
    body {
        -webkit-text-stroke: 0 black;
    }
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl {
    margin: 1.5em 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-size: 100%;
    font-weight: bold;
}

li, blockquote, UNUSEDdd {
    margin-left: 1.5em;
    padding: 0;
    list-style: none;
}

fieldset {
    border: none;
}

input[type=text]:focus, 
input[type=password]:focus, 
textarea:focus {
    background: #ffffdf;
}

button, 
input[type=submit] {
    font-family: inherit !important;
}

a img {
    border: none;
}

pre, code {
    font: 100% monospace;
}

.safGrid:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    min-height: 0;
    visibility: hidden;
}

.safGrid {
    max-width: 69em;
    margin: 0 auto;
}

.safGrid .col {
    margin: 0 24px 0 24px;
}

.safGrid .cs-3 {
    width: 206px;
    float: right;
    margin: 4em;
}

.overflowClear {
    overflow: hidden;
}

.button {
    background-position: 0 50%;
    padding: 12px 0 12px 12px;
}

.button a,
  .button button,
  .button input {
    background-position: 100% 50%;
    border: none;
    margin: 0 0 0 -8px;
    padding: 12px 12px 12px 8px;
    cursor: pointer;
    white-space: nowrap;
}